* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: #1e1e2a;
  z-index: 99;
  height: 60px;
  top: 0;
}

#header-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#header-search-bar {
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  max-width: 340px;
  width: 100%;
  padding: 8px 15px;
  background-color: #2d2e37;
  border-radius: 4rem;
}

.submit {
  border: none;
  background: none;
  font-size: 1.1rem;
  padding-top: 2px;
}

.submit:hover {
  color: #ffb43a;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
}

main article {
  padding: 1rem;
  width: 24%;
  text-align: center;
  margin-top: 1rem;
}

main img {
  width: 90%;
  height: auto;
}

main div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin: auto;
  gap: 0.4rem;
}

main div span:first-child.active {
  color: gold;
}

main h2 {
  padding: 1rem 0;
}

main p {
  display: none;
}

main button {
  padding: 0.6rem 1.2rem;
}

footer {
  padding: 1.5rem 10%;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #1e1e2a;
  color: #ece05e;
}

#header-logo {
  font-size: 1.4rem;
  color: #ece05e;
  font-weight: 600;
  text-transform: uppercase;
}

#header-search {
  width: 100%;
  border: none;
  outline: none;
  color: #fcfeff;
  background: transparent;
  font-size: 1rem;
}

/* POP UP SECTION */
.pop-up-container {
  width: 50%;
  background-color: #1e1e2a;
  padding: 30px;
  border-radius: 5%;
  max-height: 80vh;
  border: #070707 3px solid;
  overflow-y: scroll;
}

.pop-up-container::-webkit-scrollbar {
  width: 6px;
}

.pop-up-container::-webkit-scrollbar-track {
  background-color: #ece05e;
  border-radius: 15px;
  margin-block: 2em;
  border: #1e1e2a 1px solid;
}

.pop-up-container::-webkit-scrollbar-thumb {
  background-color: #5c5616;
  border-radius: 15px;
  margin-block: 2em;
  border: #1e1e2a 1px solid;
}

.pop-up {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.7);
}

.pop-up-title {
  color: #ece05e;
  font-size: 3rem;
}

.image {
  height: 320px;
  margin: 10px 0;
  object-fit: cover;
  width: 100%;
}

.pop-up-status {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: center;
}

.pop-up-score {
  display: flex;
  align-items: center;
}

.star {
  color: yellow;
}

.info {
  color: #fcfeff;
  font-weight: 700;
  font-size: 20px;
}

.onprogress,
.score,
.genres {
  color: #fcfeff;
  font-weight: 100;
}

.genres {
  display: flex;
  gap: 14px;
}

.genres li {
  padding: 5px 10px;
  border: 2px solid #ececef;
  border-radius: 4px;
  background-color: #1c2bac56;
}

.pop-up-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  background-color: #1e1e2a;
}

.pop-up-close {
  color: #ececef;
  cursor: pointer;
}

.information p {
  color: #8181b1;
  margin-top: 25px;
}

/* COMMENTS FORM SECTION */

.comment-p-tohide {
  display: none;
}

.comments-header {
  color: #ece05e;
  margin: 24px 0;
}

.comments-container {
  background-color: #2d2e37;
  max-height: 150px;
  color: #8181b1;
  overflow-y: scroll;
  min-height: 100px;
}

.comment {
  margin: 10px 24px;
  padding-bottom: 10px;
  border-bottom: #ece05e 1px solid;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.form-comments-header {
  color: #ece05e;
  margin: 24px 0;
}

.comment-input {
  width: 100%;
  margin-bottom: 20px;
  background-color: #2d2e37;
  border: none;
}

@media (max-width: 710px) {
  #header-search-bar {
    max-width: 240px;
  }
}

@media (max-width: 516px) {
  header {
    height: 100px;
  }

  #header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  #header-search-bar {
    max-width: 360px;
    margin-top: 10px;
  }
}
