* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: #1e1e2a;
  z-index: 99;
  height: 60px;
}

#header-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#header-search-bar {
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  max-width: 340px;
  width: 100%;
  padding: 8px 15px;
  background-color: #2d2e37;
  border-radius: 4rem;
}

.submit {
  border: none;
  background: none;
  font-size: 1.1rem;
  padding-top: 2px;
}

.submit:hover {
  color: #ffb43a;
}

footer {
  padding: 1.5rem 10%;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #1e1e2a;
  color: #ece05e;
}

#header-logo {
  font-size: 1.4rem;
  color: #ece05e;
  font-weight: 600;
  text-transform: uppercase;
}

#header-search {
  width: 100%;
  border: none;
  outline: none;
  color: #fcfeff;
  background: transparent;
  font-size: 1rem;
}

@media (max-width: 710px) {
  #header-search-bar {
    max-width: 240px;
  }
}

@media (max-width: 516px) {
  header {
    height: 100px;
  }

  #header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  #header-search-bar {
    max-width: 360px;
    margin-top: 10px;
  }
}
